<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ed.iu.saif.smartaquarium_20">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo4"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo4"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NotificationListner"></activity>
        <activity android:name=".Temperature"></activity>
        <activity android:name=".phlevel"></activity>
        <activity android:name=".Dashboard">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".feedingSchedule">

        </activity>
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".waterlevel" />
        <activity android:name=".Login" />
        <activity android:name=".LEDlistener" />
        <receiver android:name=".Alertreciever" >
        </receiver>
    </application>

</manifest>